fastapi
uvicorn[standard]
groq
langgraph
langchain-core
pikepdf
pdfplumber
pymupdf
pdf2image
opencv-python-headless
pytesseract
pillow
numpy
youtube-transcript-api
python-multipart
pydantic
pytest
google-genai
mistralai==1.2.1
